* {
  box-sizing: border-box;
}

/* 100 - Thin / Ultralight (choose one, NOT both) */
@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay-Thin.woff2") format("woff2"),
    url("/assets/fonts/SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay-Light.woff2") format("woff2"),
    url("/assets/fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 400 - Regular */
@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("/assets/fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("/assets/fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 600 - Semibold */
@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("/assets/fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("/assets/fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/fonts/SFProDisplay-Black.woff2") format("woff2"),
    url("/assets/fonts/SFProDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'SF Pro Display';
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
  line-height: normal;
}

.logo-tab-slider.logo-slider--few .swiper-wrapper {
  justify-content: center;
}

.article-cntnt h2 {
  color: #DBF262;
  font-size: 24px;
  font-weight: 400;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1269CD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}